# Environment & Secrets
.env
serviceAccountKey.json

# Python virtual environments
venv/
env/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# OS / editor files
*.DS_Store
*.log
*.sqlite3
.idea/
.vscode/
*.swp
